/*COMMON*/
*{
    margin: 0px;
    box-sizing: border-box;
    padding:0px;
}
body{
    background-color: #f6f8f9 ;
    font-family: sans-serif;
}
/*HEADER*/
.header-section{
    width:100%;
    height: 50px;
    padding: 20px;
    background-color: white;
    line-height: 50px;
}

#logo-photo{
    vertical-align: middle;
    height:50px;
}

#head-title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

/*MAIN*/

.main-part{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/*BUTTON*/
.buttons{
    background-color: white;
    border: 1px solid black;
    padding: 10px 10px;
}
.button{
    display:inline-block;
    margin-top: 10px;
    border-radius: 5px;
    width:90px;
    height:30px;
    text-align: center;
    line-height: 30px;
    margin-bottom:10px;
}

.button a{
    text-decoration: none;

}

.addtask{
    border: 1px solid #47adf1;
    background-color: #47adf1;
    color:white;
}

.addsection{
    border: 1px solid #c5cbd0;
    color:#c5cbd0;
    background-color: white;
}

/*TO DO LIST*/
.todolist{
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 1.2rem 1.5rem;
}
.todolist h2{
    display: inline-block;
}

.todolist li{
    font-size: 20px;
}

.todolist ul{
    list-style-type: none;
}

.listitems{
    margin: 10px 10px;
}

.check{
    border: 1px solid #64c0a9;
    color:#64c0a9;
    border-radius:50%;
    width: 20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 0.6rem;
    display: inline-block;
    margin: 10px;
}

.cross{
    border: 1px solid #ea4237;
    color:#ea4237;
    border-radius:50%;
    width: 20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 0.6rem;
    display: inline-block;
    margin: 10px;
}

.sticknote{
    display:inline-block;
    margin: 10px;
    border-radius: 15px;
    width:90px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;

}

/*STICKNOTES STYLES*/

.editorial{
    border: 1px solid #47adf1;
    background-color: #47adf1;
    color:white;
}

.qonegoals{
    border: 1px solid #9c72e4;
    background-color: #9c72e4;
    color:white;
}

.recruiting{
    border: 1px solid #64c0a9;
    background-color: #64c0a9;
    color:white;
}

.mobile{
    border: 1px solid #f29e33;
    background-color: #f29e33;
    color: white;
}

.website{
    border: 1px solid #d863a1;
    background-color: #d863a1;
    color: white;
}

.sales{
    border: 1px solid #b0c926;
    background-color: #b0c926;
    color: white;
}
