/*COMMON*/
*{
    margin: 0px;
    /* box-sizing: border-box; */
    padding:0px;
}
/*HEADER*/
.header-section{
    width:100%;
    height: 70px;
    border: 1px solid black;
}
#logo-photo{
    vertical-align: middle;
    height:60px;
}

#head-title{
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    font-size: 50px;
}

/*MAIN*/
.main-part{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/*BUTTON*/
.button{
    display:inline-block;
    margin: 10px;
    border-radius: 5px;
    width:90px;
    height:30px;
    text-align: center;
    line-height: 30px;
}

.addtask{
    border: 1px solid #47adf1;
    background-color: #47adf1;
    color:white;
}

.addsection{
    border: 1px solid #c5cbd0;
    color:#c5cbd0;
}

.todolist ul{
    list-style-type: none;
}